<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.orange.hrm.base.BaseTestCase"/>
      <class name="com.orange.hrm.testsuites.development.UserLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
